@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&family=Chivo:wght@700&display=swap');

:root{
    --font-headliner: 'Chivo', sans-serif;
    --font-date: 'Montserrat', sans-serif;
    --font-feature: 'Inter', sans-serif;

    --hex-background: #000;
    --hex-cavas-background: #231F20;
    --hex-font-date: #CCBF2B;
    --hex-font-body: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: var(--hex-background);
}

.center{
    margin: 0 auto;
}

#menu-wrapper{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 10%;
}

#menu{ 
    width: 100%;
    text-align: center;
}

#menu a, #menu a:visited{
    display: inline-block;
    padding: 5px 20px;

    font-family: var(--font-feature);
    font-size: 1.5rem;
    color: var(--hex-font-body);

    text-decoration: none;
    text-transform: uppercase;

    background-color: var(--hex-cavas-background);
    margin-bottom: 10px;
}

#menu a:hover, #menu a:active{
    color: var(--hex-font-date);
}

#canvas{
    width: 100%;
    max-width: 1600px;
    background-color: var(--hex-cavas-background);
    padding: 20px 80px;
}

#header, .two-col{
    display: grid;
    margin-bottom: 20px;
}

#header{
    width: 85%;
    grid-template-columns: 44% 54%;
    grid-gap: 2%;
}

.two-col{
    width: 100%;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
}

.two-col:last-child{
    margin-bottom: 0;
}

#header-title{
    font-family: var(--font-headliner);
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--hex-font-body);
    padding-top: 10px;
}

#header-image img{
    width: 100%;
    height: auto;
}

.two-col .event-wrapper .date{
    width: 100%;
    text-align: center;
    font-family: var(--font-date);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--hex-font-date);
    transform: scaleY(.7);
}

.info{
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 5px;
}

.thumb img{
    width: 100%;
    height: auto;
}

.headliner{
    font-family: var(--font-headliner);
    font-weight: bold;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--hex-font-body);
}

.feature{
    font-family: var(--font-feature);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--hex-font-body);
}

.event-info{
    transform: scaleY(1.2);
    padding: 20px 0;
}